@import url(https://fonts.googleapis.com/css?family=Nunito:regular,600,700,800);

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #5D5757;
}
.stopscroll {
    overflow: hidden;
}
a {
    color: inherit;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ====================== Header ========================== */
.header-inner {
    background: #0862A0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
}
.nav-menu {
   display: flex;
   align-items: center;
   gap: 61px;

}
.nav-menu__list {
   display: flex;
   gap: 61px; 
}
.nav-menu__list-item {
}
.nav__linklist {
    color: #FFFFFF;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    text-transform: capitalize;
    color: #0862A0;
}
.burger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 970px) {
    .logo {
        font-size: 35px;
    }
    .nav-menu {
        font-size: 15px;
        gap: 40px;
    }
    .nav-menu__list {
        gap: 40px; 
     }
    .btn {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .burger {
        display: block;
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 75px;
        background-color: #03385A;
        width: 100%;
        min-height: 100%; /* !!!!!!!!!!!!!! */
        display: block; /* !!!!!!!!!!!!!!!!! */
        text-align: center;
        transition: 0.3s;
        padding: 80px 0;
        z-index: 11;
    }
    .nav-menu__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        font-size: 30px;
    }
    .btn-header {
        font-size: 25px;
        padding: 15px 30px;
    }
    .nav-menu li {
        margin-bottom: 20px;
    }
    .nav-menu.active {
        left: 0;
    }
}



/* ====================== Main ========================== */
.main-inner{
    background: #0862A0;
    color: white;
    padding: 120px 0 120px;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.main__content {
    max-width: 38%;
}
.main__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;

    color: #FFFFFF;    

    margin-bottom: 47px;
}
.main__text {
    font-weight: 600;
    color: #FFFFFF;
    line-height: 35px;
    margin-bottom: 74px;
}
.btn {
}
.main__customers {
    margin: 60px 0 40px;
}
.main__customers-img {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-right: -20px;
}
.main__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.main__description span {
    font-weight: 800;
}
.main__photo {
    max-width: 60%;
}
.main__photo-img {
    width: 100%;
    height: auto;
}

@media (max-width: 1240px) {
    .main__title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .main__text {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 50px;
    }
}
@media (max-width: 983px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .main__content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .main__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 45px;
    }
    .main__text {
        text-align: center;
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 70px;
    }
    .main__photo {
        max-width: 100%;
    }
}
@media (max-width: 425px) {
    .main {
        padding: 40px 0 80px;
    }
    .main__title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .main__text {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 50px;
    }
    .main__customers-img {
       width: 65px;
       height: 65px;
    }
    .main__description {
        text-align: center;
        font-size: 16px;
    
    }
}


/* ====================== Section Partners ====================== */
.section-partners {
}
.partners {
    padding: 140px 0 140px;
}
.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #0862A0;
    margin-bottom: 30px;
    
}
.partners__list {
    display: flex;
    justify-content: space-between;
}
.partners__list-item {
    max-width: 20%;
}
.partners__item-img {
    width: 100%;
    height: auto;
}

@media (max-width: 983px) {
    .partners {
        padding: 80px 0 80px;
    }
    .title {
        font-size: 35px;
    }
}
@media (max-width: 425px) {
    .partners {
        padding: 40px 0 40px;
    }
    .title {
        font-size: 30px;
    }
}

/* ==================== Our Packages slider ==================== */
.section-packages {

}
.subtitle {
    color: #5D5757;
    text-align: center;
    margin-bottom: 70px;
}
.packeges-content{
    margin: 0 40px;
    overflow: hidden;
}
.packeges-container {
    max-width: 1130px;
    width: 100%;
    padding: 40px 0;
}

.packeges-card {
    /* max-width: 31%; */
    background: rgba(229, 229, 229, 0.18);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.counter {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
    line-height: 22px;

    color: #0862A0;
    
}
.packages_photo {
    margin-bottom: 39px;
}
.packages__card-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    
    color: #0862A0;
    
    margin-bottom: 41px;
}

.packeges-content .swiper-slide-next {
    background-color: #03385A;
}
.packeges-content .swiper-slide-next .counter {
    color: #fff;
}



@media screen and (max-width: 768px) {
    .packeges-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
    .packages__card-title {
        font-weight: 800;
        font-size: 25px;
    }
    .packages_photo {
        width: 200px;
    }
    .packages_photo img {
        width: 100%;
    }
    .subtitle {
        margin-bottom: 30px;
    }
  }





  /* ====================== Reviews ========================== */
.section-reviews {
    padding: 140px 0 140px;
}
.title {
}
.subtitle {
}
.revies-container {
    width: 100%;
    height: 300px;
}




  /* ====================== Section Team ========================== */


.section-team {
    padding: 140px 0 140px;
}
.team {
}
.title {
}
.subtitle {
}
.team-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.team-cards__item { /* FIXME: адаптивный карточки!!!! */
    max-width: 380px;
    border-radius: 43px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.team-cards__item:hover .team-card__info {
    opacity: 1;
}
.team-card__img img {
    width: 100%;
}
.team-card__info {
    margin: 0 auto;
    padding: 11px 0 20px;
    background: #0862A0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 43px 43px;
    width: 100%;
    opacity: 0;
    transition: all .3s;
    text-align: center;
}
.name {
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    
    margin-bottom: 6px;
}
.work {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    
    color: rgba(255, 255, 255, 0.7);
    
    margin-bottom: 13px;
}
.team-card__links {
    display: flex;
    gap: 27px;
    justify-content: center;
}
@media (max-width: 900px) {
    .section-team {
        padding: 70px 0 70px;
    }
    .team-cards {
        flex-direction: column;
        
    }
    .team-cards__item {
        max-width: 100%;
    }
}
@media (max-width: 425px) {
    .section-team {
        padding: 40px 0 40px;
    }
    .name {
        font-size: 20px;
    }
}


  /* ====================== Footer ========================== */
.footer {
    background: #0862A0;
}
.footer-top {
    padding: 70px 0 70px;
    display: flex;
    justify-content: space-between;
}
.footer__item {
    max-width: 316px;
}
.logo {
}
.footer-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 24px;
    text-align: center;
    
}
.footer-nav {
    display: flex;
    gap: 31px;
}
.footer-nav__item a {
    color: #fff;
}
.footer__links {
    display: flex;
    gap: 27px;
    justify-content: center;
}
.footer-bottom {
    padding-bottom: 80px;
}
.text {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
.item1 {
    max-width: 253px;
}
.item3 {
    max-width: 242px;
}


@media (max-width: 970px) {
    .footer-title {
        font-size: 30px;
    }
}
@media (max-width: 870px) {
    .footer-top {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding: 40px 0 70px;
    }
    .footer__item {
        max-width: 100%;
    }
    .logo {
        text-align: center;
    }
}
@media (max-width: 425px) {
    .footer-nav__item a {
        font-size: 16px;
    }
}